<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mini.ideashare.cms.dao.ArticleDAO">

    <resultMap id="BaseResultMap" type="mini.ideashare.cms.model.ArticleDetail" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="context" property="context" jdbcType="VARCHAR" />
        <result column="summary" property="summary" jdbcType="VARCHAR" />
        <result column="author_id" property="authorId" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="original_flag" property="originalFlag" jdbcType="INTEGER" />
        <result column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="pv" property="pv" jdbcType="BIGINT" />
        <result column="like_count" property="likeCount" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="queryCondition" >
        <where>
            <if test="id != null" >
                and id=#{id}
            </if>
            <if test="title != null" >
                and title=#{title}
            </if>
            <if test="context != null" >
                and context=#{context}
            </if>
            <if test="summary != null" >
                and summary=#{summary}
            </if>
            <if test="authorId != null" >
                and author_id=#{authorId}
            </if>
            <if test="typeId != null" >
                and type_id =#{typeId}
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
id,title,context,summary,author_id,type,original_flag,type_id,pv,like_count,create_time,update_time
</sql>
    <insert id="insertArticleDetail" parameterType="mini.ideashare.cms.model.ArticleDetail">
        insert into article_detail
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="context != null" >
                context,
            </if>
            <if test="summary != null" >
                summary,
            </if>
            <if test="authorId != null" >
                author_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="originalFlag != null" >
                original_flag,
            </if>
            <if test="typeId != null" >
                type_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," ><if test="id != null">
            #{id,jdbcType=INTEGER},
        </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="context != null">
                #{context,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="originalFlag != null">
                #{originalFlag,jdbcType=INTEGER},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateArticleDetail" parameterType="mini.ideashare.cms.model.ArticleDetail">
        UPDATE article_detail
        <trim prefix="set" suffixOverrides="," >
            <if test="id != null">
                id = #{id},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="context != null">
                context = #{context},
            </if>
            <if test="summary != null">
                summary = #{summary},
            </if>
            <if test="authorId != null">
                author_id = #{authorId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="pv != null">
                pv = #{pv},
            </if><if test="likeCount != null">
                like_count = like_count+1,
            </if>
            <if test="originalFlag != null">
                original_flag = #{originalFlag},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        WHERE  id = #{id}
    </update>

    <select id="listArticleDetail" parameterType="mini.ideashare.cms.qc.ArticleDetailQC" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from article_detail <include refid="queryCondition" />
        <if test="sortBy != null and sortType != null" >
            order by ${sortBy} ${sortType}
        </if>
        <if test="page != null">
            <![CDATA[ limit #{page.startIndex},#{page.pageSize} ]]>
        </if>
    </select>
    <select id="countArticleDetail" parameterType="mini.ideashare.cms.qc.ArticleDetailQC" resultType="java.lang.Integer">
        SELECT count(*) from article_detail
        <include refid="queryCondition"></include>
    </select>

    <update id="updatePvAndLikeCount" parameterType="mini.ideashare.cms.model.ArticleDetail">
        UPDATE article_detail
        <trim prefix="set" suffixOverrides="," >

            <if test="pv != null">
                pv = pv+1,
            </if>
            <if test="likeCount != null">
                like_count = like_count+1,
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        WHERE  id = #{id}
    </update>
</mapper>
