<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mini.ideashare.cms.dao.ArticleDAO">

    <resultMap id="BaseResultMap" type="mini.ideashare.cms.model.Practice" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_city" property="companyCity" jdbcType="VARCHAR" />
        <result column="major_type" property="majorType" jdbcType="BIGINT" />
        <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
        <result column="job_desc" property="jobDesc" jdbcType="VARCHAR" />
        <result column="job_require" property="jobRequire" jdbcType="VARCHAR" />
        <result column="publisher_id" property="publisherId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updater" property="updater" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="queryCondition" >
        <where>
            <if test="id != null" >
                and id=#{id}
            </if>
            <if test="companyName != null" >
                and company_name=#{companyName}
            </if>
            <if test="companyCity != null" >
                and company_city=#{companyCity}
            </if>
            <if test="majorType != null" >
                and major_type=#{majorType}
            </if>
            <if test="jobTitle != null" >
                and job_title=#{jobTitle}
            </if>
            <if test="jobDesc != null" >
                and job_desc=#{jobDesc}
            </if>
            <if test="jobRequire != null" >
                and job_require=#{jobRequire}
            </if>
            <if test="publisherId != null" >
                and publisher_id=#{publisherId}
            </if>
            <if test="createTime != null" >
                and create_time=#{createTime}
            </if>
            <if test="updater != null" >
                and updater=#{updater}
            </if>
            <if test="updateTime != null" >
                and update_time=#{updateTime}
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
id,company_name,company_city,major_type,job_title,job_desc,job_require,publisher_id,create_time,updater,update_time
</sql>
    <insert id="insertPractice" parameterType="mini.ideashare.cms.model.Practice">
        insert into practice
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="companyName != null" >
                company_name,
            </if>
            <if test="companyCity != null" >
                company_city,
            </if>
            <if test="majorType != null" >
                major_type,
            </if>
            <if test="jobTitle != null" >
                job_title,
            </if>
            <if test="jobDesc != null" >
                job_desc,
            </if>
            <if test="jobRequire != null" >
                job_require,
            </if>
            <if test="publisherId != null" >
                publisher_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updater != null" >
                updater,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," ><if test="id != null">
            #{id,jdbcType=BIGINT},
        </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyCity != null">
                #{companyCity,jdbcType=VARCHAR},
            </if>
            <if test="majorType != null">
                #{majorType,jdbcType=BIGINT},
            </if>
            <if test="jobTitle != null">
                #{jobTitle,jdbcType=VARCHAR},
            </if>
            <if test="jobDesc != null">
                #{jobDesc,jdbcType=VARCHAR},
            </if>
            <if test="jobRequire != null">
                #{jobRequire,jdbcType=VARCHAR},
            </if>
            <if test="publisherId != null">
                #{publisherId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updatePractice" parameterType="mini.ideashare.cms.model.Practice">
        UPDATE practice
        <trim prefix="set" suffixOverrides="," >
            <if test="id != null">
                id = #{id},
            </if>
            <if test="companyName != null">
                company_name = #{companyName},
            </if>
            <if test="companyCity != null">
                company_city = #{companyCity},
            </if>
            <if test="majorType != null">
                major_type = #{majorType},
            </if>
            <if test="jobTitle != null">
                job_title = #{jobTitle},
            </if>
            <if test="jobDesc != null">
                job_desc = #{jobDesc},
            </if>
            <if test="jobRequire != null">
                job_require = #{jobRequire},
            </if>
            <if test="publisherId != null">
                publisher_id = #{publisherId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        WHERE  id = #{id}
    </update>
    <select id="listPractice" parameterType="mini.ideashare.cms.qc.PracticeQC" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from practice <include refid="queryCondition" />
        <if test="sortBy != null and sortType != null" >
            order by ${sortBy} ${sortType}
        </if>
        <if test="page != null">
            <![CDATA[ limit #{page.startIndex},#{page.pageSize} ]]>
        </if>
    </select>
    <select id="countPractice" parameterType="mini.ideashare.cms.qc.PracticeQC" resultType="java.lang.Integer">
        SELECT count(*) from practice
        <include refid="queryCondition"></include>
    </select>


</mapper>
